@model MVC_FormSubmission.Models.PersonModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <form method="post">
       <label for="txtfirstname">First Name:</label>
       <input type="text" id="txtfirstname" /><br />

        <label for="txtlastname">Last Name:</label>
       <input type="text" id="txtlastname"  /><br />

        <label for="txtemail">Email address:</label>
       <input type="email" id="txtemail"  /><br />

        <label for="numphonenumber">Phone number:</label>
       <input type="number" id="numphonenumber"  /><br />

        <label for="txtaddress">Address:</label>
       <input type="text" id="txtaddress"  /><br />
        
       <input type="submit" value="Submit" />
   </form>
</div>





