@model MVC_FormSubmission.Models.PersonModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <form method="post">
       <input type="text" id="txtfirstname"  value="First Name"/><br />

       <input type="text" id="txtlastname"  value="Last Name" /><br />

       <input type="email" id="txtemail"  value="Email"/><br />

       <input type="number" id="numphonenumber"  value="Phone number"/><br />

       <input type="text" id="txtaddress" placeholder="House Number, Street Name, City" value="Address" /><br />

       <input type="submit" value="Submit" />
   </form>
</div>





